@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(37, 36, 50, 0.5);
}
h1,h2,h3,h4,h5,h6{
    font-family: "Raleway", sans-serif;
    color: rgb(37, 36, 50);
    font-weight: 700;
}
body{
    font-family: "Raleway", sans-serif;
    background: rgb(245, 248, 255);

}
.cmn-btn{
    background-color: rgb(78, 71, 255);
    font-weight: 700;
    font-size: 16px;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
}
.cmn-btn:hover{
    background-color: rgb(58, 51, 204);
    transition: 0.3s;
}


section,header{
    width: 1140px;
    margin: 0 auto;
}
.top-cntlr{
    width: 100%;
}
header{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}
.logo a{
    width: 100px;
    display: inline-block;
}
.logo img{
    width: 100%;
}

.banner-sec{
    padding-bottom: 150px;
    text-align: center;
}
.banner-cntlr h1{
    color: rgb(37, 36, 50);
    font-size: 60px;
    margin-bottom: 40px;
    
}

.action-sec{
    padding: 100px 0;
}
.action-sec-cntlr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-left h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.action-left p{
    font-size: 18px;
    color: rgb(37, 36, 50);
    margin-bottom: 35px;
}
.action-right img{
    border-radius: 48px;
}
.productive-sec{
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
    margin-bottom: 130px;
}
.productiv-sec-cntlr{
    display: flex;
    justify-content: space-between;
}
.pro-sec-title{
    font-size: 38px;
    margin-bottom: 40px;
    text-align: center;
}
.productiv-sec-cntlr div{
    
}
.productiv-sec-cntlr strong{
    font-size: 80px;
    display: block;
    margin-bottom: 5px;
    color: rgb(78, 71, 255);
}
.productiv-sec-cntlr span{
    font-size: 20px;
}


.user-sec-title{
    font-size: 42px;
    margin-bottom: 50px;
    text-align: center;
}
.user-review-cntlr{
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
}
.user-review{
    border: 1px solid rgb(242, 237, 237);
    padding: 24px;
}
.star-cntlr{
    margin-bottom: 20px;
}

.user-say-sec{
    padding: 130px 0;
}
.user-review-cntlr h4{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.user-review-cntlr p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.reiview-person {
    display: flex;
}
.reiview-person img{
    margin-right: 15px;
    border-radius: 100%;
}
.reiview-person span:nth-child(1){
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 3px;
}

.focus-better-sec-cntlr{
    border-radius: 14px;
    background: rgb(255, 255, 255);
    padding: 71px 0;
    text-align: center;
}
.focus-better-sec-cntlr h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.focus-better-sec-cntlr p{
    margin-bottom: 20px;
}
.focus-better-sec-cntlr .cmn-btn{
    margin-bottom: 20px;
    
}
.focus-img-cntlr{
    width: 850px;
    margin: auto;
}
.focus-img-cntlr img{
    width: 100%;
    border-radius: 48px;
}